body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    background-image: url('images/bg3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    min-height: 90vh;
}

h1 img {
    width: 50rem;
}

.booster-container {
    margin: 20px auto;
    cursor: pointer;
}

.booster-container img {
    height: 50vh;
    transition: transform 0.3s ease-in-out;
}

.booster-container img:hover {
    transform: scale(1.1);
}

#card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 800px;
}

/* Conteneur de la carte */
.card-wrapper {
    width: 150px;
    height: 210px;
    perspective: 1000px;
    /* Effet 3D */
    display: inline-block;
}

/* Carte contenant le recto et le verso */
.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    cursor: pointer;
}

/* Aligner parfaitement les faces de la carte */
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-front {
    transform: rotateY(180deg);
}

.card-back {
    transform: rotateY(0deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

.card.flipped .card-front {
    transform: rotateY(180deg);
}

.card.flipped .card-back {
    transform: rotateY(360deg);
}

/* Bouton d'affichage des nouvelles cartes */
button {
    background-color: #ffcb05;
    color: #2a75bb;
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #e6b800;
}

.hidden {
    display: none;
}

/* Conteneur du mode plein écran */
#fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

#fullscreen-container.show {
    visibility: visible;
    opacity: 1;
}

/* Image agrandie */
#fullscreen-card {
    max-width: 95%;
    max-height: 95%;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

/* Bouton de fermeture */
#close-fullscreen {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

#close-fullscreen:hover {
    background: rgba(255, 0, 0, 0.7);
}

/* Conteneur du carousel */
.swiper {
    width: 400px;
    height: 400px;
}

.swiper-slide {
    display: flex;
    width: 400px !important;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide img {
    height: 400px;
    width: 400px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Effet spécial pour les cartes EX, VMAX, etc. */
@keyframes special-card-animation {
    0% {
        transform: rotateY(0deg) scale(1);
        box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.5);
    }

    30% {
        transform: rotateY(720deg) scale(1.5);
        box-shadow: 0px 0px 30px rgba(255, 215, 0, 1);
    }

    70% {
        transform: rotateY(1080deg) translateY(-50px) scale(1.2);
        box-shadow: 0px 20px 50px rgba(255, 215, 0, 0.7);
    }

    100% {
        transform: rotateY(1640deg) translateY(0) scale(1);
        box-shadow: 0px 0px 30px rgba(255, 215, 0, 1);
    }
}

/* Ajout d'une classe temporaire pour déclencher l'animation */
.special-card-animated {
    animation: special-card-animation 1.5s ease-out forwards;
}

/* Ball */
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    z-index: 1000;
    display: none;
}

/* Quand le loader doit être visible */
#loader.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    position: relative;
    box-shadow: -20px 0 rgba(0, 0, 0, 0.1) inset;
    animation: roll 1s ease-in-out infinite;
    background: linear-gradient(to bottom,
            #e83e35 0%,
            #e83e35 50.5%,
            #ffffff 50.51%,
            #ffffff 100%);
}

.ball:after {
    content: "";
    position: absolute;
    top: calc(100px - 3px);
    left: 0;
    width: 200px;
    height: 6px;
    background: #3f3f3f;
}

.ball:before {
    content: "";
    position: absolute;
    top: 67px;
    left: 67px;
    width: 54px;
    height: 54px;
    border: solid 6px #3f3f3f;
    border-radius: 50%;
    background: white;
    z-index: 1;
    box-shadow: 0 0 15px -2px #c62828 inset;
    animation: button 3s ease infinite;
}

@keyframes roll {
    from {
        transform: rotate(0);
    }

    90%,
    to {
        transform: rotate(720deg);
    }
}

@keyframes button {

    from,
    50%,
    to {
        box-shadow: 0 0 15px -2px #c62828 inset;
    }

    25%,
    75% {
        box-shadow: 0 0 10px -2px #1300ea inset;
    }
}

/* Adaptation mobile */
@media (max-width: 1210px) {
    /* .swiper-slide img {
        max-width: 300px;
    } */
}

@media (max-width: 900px) {
    /* .swiper-slide img {
        max-width: 250px;
    } */
}

@media (max-width: 845px) {
    #card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 768px) {


    #fullscreen-card {
        border-radius: 20px;
    }

    h1 img {
        width: 100%;
    }
}

@media (max-width: 450px) {
    /* .swiper-slide img {
        max-width: 150px;
    } */
}